@helper PostDate(DateTime rawDate)
{
    <time datetime="@rawDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss")" pubdate data-updated="true">@rawDate.ToString("MMM d, yyyy")</time> }
@{
    Layout = "default";
}
@foreach (var video in Enumerable.Take(Model.Videos, 30))
{
    <h1><a href="@Model.Root/videos/@video.Url/index.html">@video.Title - @video.ContentAuthor</a></h1>
    <p>@video.Description</p>
    <p class="view">
        <small>@video.PostAuthor &nbsp;&nbsp;| &nbsp;&nbsp;@PostDate(video.AddedDate) &nbsp;&nbsp;| &nbsp;&nbsp;@String.Join(", ", video.Tags)</small><br />
    </p>
}
