@using System.Linq
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>@Model.Title</title>
    <!-- FSharp.Formatting Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="@Model.Root/fsharp.formatting/tooltips.css" />
    <script type="text/javascript" src="@Model.Root/javascripts/video.fix.js"></script>
    <script type="text/javascript" src="@Model.Root/javascripts/ga.js"></script>
    <script type="text/javascript" src="@Model.Root/fsharp.formatting/tooltips.js"></script>
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <link rel="stylesheet" href="@Model.Root/stylesheets/styles.css">
    <link rel="stylesheet" href="@Model.Root/stylesheets/pygment_trac.css">
    <link rel="shortcut icon" href="@Model.Root/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "81ce46a6-ba61-410c-bb73-5204cc8efed1", doNotHash: true, doNotCopy: false, hashAddressBar: false});</script></head>
<body>
    <header>
        <div>
            <a href="@Model.Root/index.html" style="vertical-align:middle;"><img src="@Model.Root/images/jet_logo.png" style="max-height:50px;" /></a><span class="subtitle">@Model.Title</span>
            <div class="social">
                <ul>
                    <li>
                        <a class="social-icons" href="https://twitter.com/jettechnology"></a>
                    </li>
                    <li>
                        <a class="social-icons" href="https://twitter.com/jet"></a>
                    </li>
                    <li>
                        <a class="social-icons" href="https://www.facebook.com/jet"></a>
                    </li>
                    <li>
                        <a class="social-icons" href="https://www.github.com/jet"></a>
                    </li>
                    <li>
                        <a class="social-icons" href="https://linkedin.com/company/jet-com"></a>
                    </li>
                    <li>
                        <a class="social-icons" href="https://plus.google.com/118328800025960082059/posts"></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <leftpanel class="smaller">
        <h2><a href="https://jet.com/about-us/join-our-crew">Join us!</a></h2>

        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/JetTechnology" data-widget-id="652521231367995392">Tweets by @@JetTechnology</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <br/><br/>

<!--       <h2>Tags</h2>
        @foreach (var tag in Model.TaglyPosts)
        {
            <a href="@Model.Root/blog/tag/@tag.Item2/index.html">@tag.Item1</a>
        }
        <br />-->
        <h2>Videos we <3</h2>
        <p>
            <ul>
                @foreach (var vid in Enumerable.Take(Model.Videos, 10))
                {
                    <li><a href="@Model.Root/videos/@vid.Url/index.html">@vid.Title</a></li>
                }
            </ul>
<!--            <small><a href="@Model.Root/videos/">See all</a></small> -->
        </p>
    </leftpanel>
    <section>
        @RenderBody()
    </section>
    <footer>
        <p><small>Hosted on Azure, using FsBlog. Because F# + Azure |> Jet <3.</small></p>
    </footer>
    <script src="@Model.Root/javascripts/scale.fix.js"></script>
</body>
</html>
